@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Exo 2', sans-serif;
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  @supports (font-variation-settings: normal) {
    .font-inter {
      font-family: 'Inter var', sans-serif;
    }
  }

  html,
  body {
    height: 100%;
  }

  #__next {
    @apply isolate flex min-h-screen flex-col slashed-zero;
  }
}

@layer components {
  .nav-button {
    @apply rounded-[10px] border border-[#1BDBAD] bg-white py-[10px] px-[17px] font-bold text-[#23BD8F] shadow-[0px_3px_7px_rgba(0,0,0,0.12)];
  }

  .primary-button {
    @apply font-inter  whitespace-nowrap rounded bg-[#23BD8F] py-1 px-[14px] text-xs font-medium text-white;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  }

  .section-header {
    @apply mb-[15px] text-2xl font-bold text-[#3D3D3D];
  }

  .row-action-links {
    @apply font-inter text-xs text-[#3D3D3D] underline opacity-80;
  }

  .animate-shimmer {
    animation: shimmer 2s cubic-bezier(0.31, 0.29, 0.62, 0.59) infinite;
    background: linear-gradient(to right, #eff1f3 5%, #eaeaea 20%, #eff1f3 40%);
    background-size: 1000px 100%;
  }

  .dark .animate-shimmer {
    background: linear-gradient(to right, #3a3a3a 5%, #4a4a4a 20%, #3a3a3a 40%);
    background-size: 1000px 100%;
  }

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  /* dialog backdrop of select token component */
  [data-backdrop] {
    background-color: rgb(0 0 0 / 20%);
  }

  /* banner */
  .banner-hidden {
    --banner-display: none !important;
  }
  .has-banner {
    --banner-display: block;
  }
  #banner {
    display: var(--banner-display);
  }

  @media (max-width: 360px) {
    .balance-wrap {
      flex-direction: column !important;
      align-items: start !important;
    }

    .balance-wrap > *:last-child {
      margin-left: 2rem;
    }
  }
}
