@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
  }

  .font-exo {
    font-family: 'Exo 2', sans-serif;
  }

  @supports (font-variation-settings: normal) {
    html {
      font-family: 'Inter var', sans-serif;
    }
  }

  html,
  body {
    @apply h-full;
  }

  #__next {
    @apply isolate flex min-h-full flex-col slashed-zero;
  }
}

@layer components {
  .app-section {
    @apply px-2 md:px-[30px] lg:px-[60px] xl:px-[120px];
  }

  .app-section > * {
    @apply mx-auto w-full max-w-7xl;
  }

  .shadow-1 {
    @apply shadow-[0px_3px_7px_rgba(0,0,0,0.12)];
  }

  .shadow-2 {
    @apply shadow-[0px_0px_9px_-2px_rgba(0,0,0,0.16)];
  }

  .nav-button {
    @apply shadow-1 rounded-2xl border border-[#1BDBAD] bg-white py-2 px-4 font-medium text-[#23BD8F];
  }

  .primary-button {
    @apply whitespace-nowrap rounded bg-[#23BD8F] py-2 px-8 text-sm font-bold text-white disabled:cursor-not-allowed;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  }

  .secondary-button {
    @apply primary-button bg-white text-[#23BD8F];
  }

  .form-submit-button {
    @apply shadow-1 w-full rounded-[10px] border border-[#1BDBAD] bg-[#23BD8F] py-2 px-3 font-semibold text-white disabled:cursor-not-allowed;
  }

  .input-label {
    @apply text-sm font-medium text-[#303030];
  }

  .input-field {
    @apply mt-[5px] w-full rounded border border-[#CBCBCB] px-3 py-[7px] slashed-zero placeholder:text-sm placeholder:text-[#666666];
  }

  .input-error {
    @apply mt-1 text-xs text-red-500;
  }

  .hero-word-break::before {
    content: '\A';
    white-space: pre;
  }

  .section-header {
    @apply mb-[15px] text-2xl font-bold text-[#3D3D3D];
  }

  .row-action-links {
    @apply text-xs text-[#3D3D3D] underline opacity-80;
  }

  .dark .row-action-links {
    @apply text-xs text-white underline opacity-80;
  }

  .animate-shimmer {
    animation: shimmer 2s cubic-bezier(0.31, 0.29, 0.62, 0.59) infinite;
    background: linear-gradient(to right, #eff1f3 5%, #eaeaea 20%, #eff1f3 40%);
    background-size: 1000px 100%;
  }

  .dark .animate-shimmer {
    background: linear-gradient(to right, #3a3a3a 5%, #4a4a4a 20%, #3a3a3a 40%);
    background-size: 1000px 100%;
  }

  .table-row {
    @apply bg-white odd:bg-neutral-100 dark:bg-neutral-900 dark:odd:bg-neutral-800;
  }

  .table-description {
    @apply whitespace-nowrap border-l-[1px] border-dashed border-gray-200 px-4 py-[6px] text-sm text-[#3D3D3D] first-of-type:border-l-0 last-of-type:w-full dark:border-gray-700;
  }

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  /* dialog backdrop */
  [data-backdrop] {
    background-color: rgb(217 242 244 / 70%);
  }

  .dark [data-backdrop] {
    background-color: rgb(67 67 67 / 70%);
  }

  .dialog {
    @apply shadow-2 absolute top-8 left-4 right-4 bottom-8 z-50 m-auto mx-auto mt-auto flex h-fit max-h-[80vh] max-w-lg flex-col overflow-auto rounded-2xl border border-[#EAEAEA] bg-white p-4 sm:left-8 sm:right-8;
  }

  .dark .dialog {
    @apply shadow-2 absolute top-8 left-4 right-4 bottom-8 z-50 m-auto mx-auto mt-auto flex h-fit max-h-[80vh] max-w-lg flex-col overflow-auto rounded-2xl border border-[#333336] bg-[#333336] p-4 sm:left-8 sm:right-8;
  }

  /* banner */
  .banner-hidden {
    --banner-display: none !important;
  }
  .has-banner {
    --banner-display: block;
  }

  #banner {
    display: var(--banner-display);
  }

  #onboard-form #token-render-value {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @media (max-width: 360px) {
    .balance-wrap {
      flex-direction: column !important;
      align-items: start !important;
    }

    .balance-wrap > *:last-child {
      margin-left: 2rem;
    }
  }
}
