@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
  }

  @supports (font-variation-settings: normal) {
    html {
      font-family: 'Inter var', sans-serif;
    }
  }

  html,
  body {
    height: 100%;
  }

  #__next {
    @apply isolate flex min-h-screen flex-col slashed-zero;
  }
}

@layer components {
  .nav-button {
    @apply rounded-lg bg-zinc-100 py-2 px-3 dark:bg-zinc-800;
  }

  .animate-shimmer {
    animation: shimmer 2s cubic-bezier(0.31, 0.29, 0.62, 0.59) infinite;
    background: linear-gradient(to right, #eff1f3 5%, #eaeaea 20%, #eff1f3 40%);
    background-size: 1000px 100%;
  }

  .dark .animate-shimmer {
    background: linear-gradient(to right, #3a3a3a 5%, #4a4a4a 20%, #3a3a3a 40%);
    background-size: 1000px 100%;
  }

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  /* dialog backdrop of select token component */
  [data-backdrop] {
    background-color: rgb(0 0 0 / 20%);
  }

  @media (max-width: 360px) {
    .balance-wrap {
      flex-direction: column !important;
      align-items: start !important;
    }

    .balance-wrap > *:last-child {
      margin-left: 2rem;
    }
  }
}
