@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    @apply h-full;
  }

  #__next {
    @apply isolate flex min-h-full flex-col slashed-zero;
  }
}

@layer components {
  .app-section {
    @apply px-2 md:px-[30px] lg:px-0;
  }

  .app-section > * {
    @apply mx-auto w-full max-w-7xl;
  }

  .shadow-1 {
    @apply shadow-[0px_3px_7px_rgba(0,0,0,0.12)];
  }

  .shadow-2 {
    @apply shadow-[0px_0px_9px_-2px_rgba(0,0,0,0.16)];
  }

  .nav-button {
    @apply shadow-1 rounded-[10px] border border-lp-secondary bg-lp-white py-2 px-4 font-medium text-lp-primary dark:border-transparent dark:bg-lp-green-4 dark:text-lp-white;
  }

  .nav-button-v2 {
    @apply h-10 rounded-lg border border-llama-teal-2 px-4 py-1 text-llama-gray-600 dark:border-lp-gray-7 dark:text-llama-gray-100;
  }

  .primary-button {
    @apply whitespace-nowrap rounded-[10px] bg-lp-primary py-2 px-8 text-sm font-bold text-lp-white disabled:cursor-not-allowed dark:text-lp-black;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  }

  .secondary-button {
    @apply primary-button bg-lp-white text-lp-primary;
  }

  .form-submit-button {
    @apply shadow-1 w-full rounded-[10px] border border-lp-secondary bg-lp-primary py-[7px] px-3 font-semibold text-lp-white disabled:cursor-not-allowed dark:bg-lp-secondary dark:text-lp-black;
  }

  .input-label {
    @apply text-sm font-medium text-lp-gray-6 dark:text-lp-white;
  }

  .input-field {
    @apply mt-[5px] min-h-[40px] w-full rounded border border-lp-gray-1 bg-lp-white px-3 py-1 slashed-zero placeholder:text-sm placeholder:text-lp-gray-2 dark:border-transparent dark:bg-lp-gray-5;
  }

  .input-error {
    @apply mt-1 text-xs text-red-500;
  }

  .hero-word-break::before {
    content: '\A';
    white-space: pre;
  }

  .section-header {
    @apply mb-[15px] text-2xl font-bold text-lp-gray-4 dark:text-lp-white;
  }

  .row-action-links {
    @apply text-xs text-lp-gray-4 underline opacity-80 dark:text-lp-white;
  }

  .animate-shimmer {
    animation: shimmer 2s cubic-bezier(0.31, 0.29, 0.62, 0.59) infinite;
    background: linear-gradient(to right, #eff1f3 5%, #eaeaea 20%, #eff1f3 40%);
    background-size: 1000px 100%;
  }

  .dark .animate-shimmer {
    background: linear-gradient(to right, #3a3a3a 5%, #4a4a4a 20%, #3a3a3a 40%);
    background-size: 1000px 100%;
  }

  .table-row {
    @apply bg-lp-white odd:bg-neutral-100 dark:bg-neutral-900 dark:odd:bg-neutral-800;
  }

  .table-description {
    @apply whitespace-nowrap border-l-[1px] border-dashed border-gray-200 px-4 py-[6px] text-sm text-lp-gray-4 first-of-type:border-l-0 last-of-type:w-full dark:border-gray-700;
  }

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  /* dialog backdrop */
  [data-backdrop] {
    background-color: rgb(217 242 244 / 70%);
  }

  .dark [data-backdrop] {
    background-color: rgb(67 67 67 / 70%);
  }

  .dialog {
    @apply shadow-2 absolute top-8 left-4 right-4 bottom-8 z-50 m-auto mx-auto mt-auto flex h-fit max-h-[80vh] max-w-lg flex-col overflow-auto rounded-2xl border border-[#EAEAEA] bg-lp-white p-4 dark:border-transparent dark:bg-lp-gray-8 sm:left-8 sm:right-8;
  }

  /* banner */
  .banner-hidden {
    --banner-display: none !important;
  }
  .has-banner {
    --banner-display: block;
  }

  #banner {
    display: var(--banner-display);
  }

  #onboard-form #token-render-value {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .claim-amount .animate-shimmer {
    @apply !h-[36px] rounded;
  }

  .claim-amount svg {
    @apply !hidden;
  }

  .claim-button > * {
    @apply form-submit-button mt-8 text-base no-underline opacity-100 dark:!text-lp-black;
  }

  .hero-graphic > *,
  .footer-graphic > * {
    @apply !flex;
  }

  .hero-graphic {
    @apply absolute right-0 bottom-[-6px] left-0 z-0 hidden lg:block;
  }

  .hero-graphic > *,
  .hero-graphic > * > * {
    @apply !w-full;
  }

  .hero-graphic img {
    @apply ml-auto object-right-bottom;
  }

  .footer-graphic {
    @apply absolute right-0 top-[-8px] z-0 md:top-[-10px] xl:top-[-16px];
  }

  .footer-graphic img {
    @apply !h-[240px] md:!h-[280px] lg:!h-[360px] xl:!h-[410px];
  }

  .defillama-1 {
    fill: #0dff81;
  }
  .defillama-1,
  .defillama-2,
  .defillama-4,
  .defillama-9 {
    fill-rule: evenodd;
  }

  .defillama-2 {
    fill: #fff;
  }

  .defillama-3 {
    fill: url(#linear-gradient);
  }
  .defillama-4 {
    fill: #b3d2ff;
  }
  .defillama-5 {
    fill: url(#linear-gradient-2);
  }
  .defillama-6 {
    fill: url(#linear-gradient-3);
  }
  .defillama-7 {
    fill: url(#linear-gradient-4);
  }
  .defillama-8 {
    fill: url(#linear-gradient-5);
  }
  .defillama-9 {
    fill: #003580;
  }

  .beat-circle {
    display: inline-block;
    background-color: var(--circle-color);
    width: var(--circle-size);
    height: var(--circle-size);
    margin: 0px 2px;
    border-radius: 100%;
    -webkit-animation: beat 0.7s 0s infinite linear;
    animation: beat 0.7s 0s infinite linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .beat-circle.center {
    -webkit-animation: beat 0.7s 0.35s infinite linear !important;
    animation: beat 0.7s 0.35s infinite linear !important;
  }

  @keyframes beat {
    50% {
      -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
      transform: scale(0.75);
      opacity: 0.2;
    }

    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  @media (max-width: 22.5rem) {
    .balance-wrap {
      flex-direction: column !important;
      align-items: start !important;
    }

    .balance-wrap > *:last-child {
      margin-left: 2rem;
    }
  }
}
